<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878017612145-ua0b1319slt3dshk6k1gqoloahb9id24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878017612145-ua0b1319slt3dshk6k1gqoloahb9id24</string>
	<key>API_KEY</key>
	<string>AIzaSyClIgC9De-36YSKXdEvXhFGvBrPaAZwNAU</string>
	<key>GCM_SENDER_ID</key>
	<string>878017612145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.streopayDashboard</string>
	<key>PROJECT_ID</key>
	<string>stereopay-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>stereopay-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878017612145:ios:260bfdfd658c0cad758ed0</string>
</dict>
</plist>